.header {
  width: 100%;
  background: var(--neutral-color);
}

.header a {
  text-decoration: none;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 5rem;
}

.logo {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.navigation a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .headerContent {
    padding: 1rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .navigation {
    margin: 1rem auto 0;
  }
}
