.main {
  max-width: 50rem;
  margin: 0 auto;
  padding: 4rem 0;
}

.footer {
  margin-top: 15rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
}

.section {
  margin-bottom: 5rem;
}

.iniTitle {
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .main {
    padding: 2rem 1rem;
  }
}
